<div class="main">
    <div class="container">
        <nav class="navbar navbar-lg bg-light">
            <div class="container-fluid fixed-header baselink">
                <a class="navbar-brand " href="# ">Home</a>
                <a class="navbar-brand " href="# ">Services</a>
                <a class="navbar-brand " href="# ">Store</a>
                <a class="navbar-brand " href="# ">About</a>
                <a class="navbar-brand " href="# ">Contact Us</a>
            </div>
        </nav>


        <div class="description ">
            <p>Home page description about motive, resource</p>
        </div>
    </div>
</div>
<!-- <app-contact-us></app-contact-us> -->



<!-- footer -->