<footer>
    <div class="footer-copyright">
        <h1>Contact Us</h1>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <ul class="menu">
            <li>
                Phone
            </li>
            <li>
                Email
            </li>
            <li>
                Address
            </li>
            <li>
                <a href="#">Join Us</a>
            </li>

            <li>
                <div>
                    <h4>Follow Us</h4>
                </div>
            </li>
        </ul>
        <div class="footer-copyright Copyright">
            ALL RIGHTS RISERVED!
            <div class="icons d-flex justity-content-evenly">
                <ul class="socials">
                    <ol>
                        <a href="#" class="fa fa-facebook">
                        </a>
                    </ol>
                    <ol>
                        <a href="#" class="fa fa-instagram">
                        </a>
                    </ol>
                    <ol>
                        <a href="#" class="fa fa-youtube">
                        </a>
                    </ol>
                </ul>
            </div>
        </div>
    </div>
</footer>